[submodule "frontend"]
	path = frontend
	url = https://github.com/sreeni7799/movie-sentiment-frontend.git
[submodule "ml_service"]
	path = ml_service
	url = https://github.com/sreeni7799/movie-sentiment-backend.git
[submodule "api-service"]
	path = api-service
	url = https://github.com/sreeni7799/movie-sentiment-api.git
[submodule "worker-service"]
	path = worker-service
	url = https://github.com/sreeni7799/movie-sentiment-worker.git
